{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container bg-white p-4 rounded shadow">
    <h1 class="mb-4">Список аптек</h1>
    <div class="row">
        {% for pharmacy in pharmacies %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Аптека №{{ pharmacy.number }}</h5>
                    <p class="card-text">
                        <strong>Название:</strong> {{ pharmacy.name|default:"Не указано" }}<br>
                        <strong>Адрес:</strong> {{ pharmacy.address }}<br>
                        <strong>Телефон:</strong> {{ pharmacy.phone }}<br>
                        <strong>Режим работы:</strong> {{ pharmacy.get_work_mode_display }}<br>
                    </p>
                    <!-- Отображаем фотографию фасада -->
                    {% if pharmacy.facade_photo %}
                        <img src="{{ pharmacy.facade_photo.url }}" alt="Фото фасада" class="img-fluid pharmacy-photo">
                    {% else %}
                        <img src="{% static 'deps/images/bd-image2.jpg' %}" alt="Фото фасада" class="img-fluid pharmacy-photo">
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}